[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
python-dotenv = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
alembic = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
